<div>
  <h2>Adicionar Nova Tarefa</h2>
  <form [formGroup]="taskForm" (ngSubmit)="submitTask()">
    <div>
      <label for="title">Titulo</label>
      <input id="title" type="text" formControlName="title" />
      <div *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.hasError('required')" class="error-color">
        Title is required.
      </div>
      <div *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.hasError('minlength')" class="error-color">
        Title must be at least 3 characters long.
      </div>
    </div>
    <div>
      <label for="description">Descrição</label>
      <input id="description" type="text" formControlName="description" />
      <div *ngIf="taskForm.get('description')?.touched && taskForm?.get('description')?.hasError('required')" class="error-color">
        Description is required.
      </div>
      <div *ngIf="taskForm.get('description')?.touched && taskForm?.get('description')?.hasError('minlength')" class="error-color">
        Description must be at least 3 characters long.
      </div>
    </div>

    <div>
      <label for="date">Data de Vencimento</label>
      <input id="date" type="date" formControlName="date" />
      <div *ngIf="taskForm.get('date')?.touched && taskForm?.get('date')?.hasError('required')" class="error-color">
        Date is required.
      </div>
    </div>

    <div>
      <label for="status">Status</label>
      <select formControlName="status">
        <option value="toDo">To Do</option>
        <option value="trabalhando">Trabalhando</option>
        <option value="finalizado">Finalizado</option>
      </select>
    </div>


    <button type="submit" class="btn btn-primary">Add Tarefa</button>
  </form>
</div>
