table {
  width: 100%;
  border-collapse: collapse;
}

/* Style table cells (td) */
td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #ddd;
}

.title-table {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
